body {
  background-color: #dff9fb;
}

.App {
  background-color: #3f3160;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

.input-form input{
  background-color: rgba(255,255,255,0.5);
  border: 0;
  width: 230px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
}

.input-form input::placeholder{
 color: white;
}
.input-form input::focus{
 outline: none;
}

.input-form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  font-size: bolder;
  background-color: rgb(202,156,24);
}

.list {
  color: white;
  background-color: #bf4702ac;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  margin: 20px auto;
}

.list p{
  padding: 10px;
  position: relative;
}

.list p span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

#edit {
  margin-right: 50px;
}